<ion-view view-title="Adicionar Paciente">
    <ion-content padding="true">
        <!-- <form ng-submit="insert(task)"> -->
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome</span>
                <input type="text" ng-model="paciente.nome">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Idade</span>
                <input type="text" ng-model="paciente.idade">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nascimento</span>
                <input type="date" ng-model="paciente.nasc">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Prontuário</span>
                <input type="text" ng-model="paciente.numero_prontuario">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Telefone</span>
                <input type="text" ng-model="paciente.telefone">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Escola</span>
                <input type="text" ng-model="paciente.escola">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Trabalho</span>
                <input type="text" ng-model="paciente.trabalho">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Responsável</span>
                <input type="text" ng-model="paciente.respref">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Vulnerabilidade</span>
                <input type="text" ng-model="paciente.nvulnerab">
            </label>
        </div>
        <a ng-click="insert()" href="#/app/busca/pacientes">
            <button class="button button-block button-energized">
                Adicionar
            </button>
        </a>
    </ion-content>
</ion-view>