<ion-view view-title="Sobre">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-divider">
                AcolheAPS
            </div>
            <div class="item item-text-wrap">
                Projeto de acompanhamento e cuidado aos pacientes de APS (Atenção Primária à Saúde).
                <br /> Este projeto tem por objetivo elaborar soluções que permitam maior controle e qualidade nos atendimentos de APS.
                <br /> Com esse objetivo foi desenvolvido o aplicativo AcolheAPS, que possui como principais funcionalidades:
                <br />
                <br /> - Cadastro e consulta de pacientes.
                <br /> - Geração de estatísticas.
                <br /> - Cadastro e digitalização de genogramas
                <br /> - Compartilhamento de dados entre equipes.
                <br />
                <br /> Colaboradores:
                <br />
                <br /> Franklin de Oliveira
                <br /> Desenvolvedor de Software
                <br /> franklindeoliveira@gmail.com
                <br />
                <br /> Vanessa Andrade Caldeira
                <br /> Terapeuta Ocupacional
                <br /> vanecald@gmail.com
            </div>
        </div>
    </ion-content>
</ion-view>